
  <!--START SCROLL EVENTS ELEMENTS-->
  <!-- !!CLICK EVENT TOP SCROLL-->
  <div class="top-link-click right hidden-phone"></div>
  <!-- !!HOVER EVENT TOP SCROLL-->
  <div class="top-link right hidden-phone"></div>
  <!-- !!HOVER EVENT TOP SCROLL-->
  <div class="bottom-link right hidden-phone"></div>
  <!-- !!CLICK EVENT TOP SCROLL-->
  <div class="bottom-link-click right hidden-phone"></div>
  <div class="top-corner"></div>
  <div class="bottom-corner"></div>
  <!--/. SCROLL EVENTS ELEMENTS-->
  <!-- ######################  START HEADER ######################==============================================================-->


      <div class="nav-top">
        <!-- navbar-fixed-top -->
        <div class="navbar navbar-fixed-top navbar-inverse" id="top-nav">
          <!-- INNER-->
          <div class="navbar-inner">
            <div class="container">
              <!-- Collapse button -->
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <!-- LOGO -->
                <a class="brand" href="index.html">
                <span><i class="fa-icon-beaker"></i><span class="yellow">Happi</span>Labs<span style="color:#898989">.org</span></span></a>
                <!-- TOP NAVIGATION-->
                <div id="main-nav" class="scroller-spy">
                  <nav class="nav-collapse collapse" >
                    <ul class="nav pull-right" id="nav">
                      <li class="active"><a href="#header-section">Home</a> </li>
                      <li><a href="#aboutus">About Us</a> </li>
                      <li><a href="#price-section">Pricing</a> </li>
                      <li><a href="#team-section">Our Team</a> </li>
                      <li><a href="#contact-section">Contact</a> </li>

                    </ul>
                    <ul class="nav pull-right">
                      <% if user_signed_in? %>
                        <li>
                        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
                        </li>
                      <% else %>
                        <li>
                        <%= link_to 'Login', new_user_session_path %>
                        </li>
                      <% end %>
                      <% if user_signed_in? %>
                        <li>
                        <%= link_to 'Edit account', edit_user_registration_path %>
                        </li>


                        <%= link_to 'Sign up', new_user_registration_path %>
                        </li>
                      <% end %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!--

1) click on 'sign up now'   <how is it supposed to work>
2) modal pops up and i enter name and email    <how is it supposed to work>
3) thank you window comes up   <how is it supposed to work>

4) when i cmd + R to refresh, user is then logged in.  <NOT HOW IT IS SUPPOSED TO WORK>
5) if i hit 'sing up now' button, modal pops up with the entire page in it. <NOT HOW IT IS SUPPOSED TO WORK>
6) if i hit log out, which is now visible due to the user being signed in, everything is ok.<NOT HOW IT IS SUPPOSED TO WORK>
       -->

