
  <!--START SCROLL EVENTS ELEMENTS-->
  <!-- !!CLICK EVENT TOP SCROLL-->
  <div class="top-link-click right hidden-phone"></div>
  <!-- !!HOVER EVENT TOP SCROLL-->
  <div class="top-link right hidden-phone"></div>
  <!-- !!HOVER EVENT TOP SCROLL-->
  <div class="bottom-link right hidden-phone"></div>
  <!-- !!CLICK EVENT TOP SCROLL-->
  <div class="bottom-link-click right hidden-phone"></div>
  <div class="top-corner"></div>
  <div class="bottom-corner"></div>
  <!--/. SCROLL EVENTS ELEMENTS-->
  <!-- ######################  START HEADER ######################==============================================================-->

  <header class="headertop needhead" id="header-section">
    <!-- START PARALLAX BG -->
    <div class="innerbg">
      <div class="nav-top">
        <!-- navbar-fixed-top -->
        <div class="navbar navbar-fixed-top navbar-inverse" id="top-nav">
          <!-- INNER-->
          <div class="navbar-inner">
            <div class="container">
              <!-- Collapse button -->
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <!-- LOGO -->
                <a class="brand" href="index.html">
                <span><i class="fa-icon-beaker"></i><span class="yellow">Happi</span>Labs<span style="color:#898989">.org</span></span></a>
                <!-- TOP NAVIGATION-->
                <div id="main-nav" class="scroller-spy">
                  <nav class="nav-collapse collapse" >
                    <ul class="nav pull-right" id="nav">
                      <li class="active"><a href="#header-section">Home</a> </li>
                      <li><a href="#aboutus">About Us</a> </li>
                      <li><a href="#price-section">Pricing</a> </li>
                      <li><a href="#team-section">Our Team</a> </li>
                      <li><a href="#contact-section">Contact</a> </li>
                      <li><a href="#">Login</a> </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
      </div>

