
<div class="nav-top">
<!-- navbar-fixed-top -->
<div class="navbar navbar-fixed-top navbar-inverse" id="top-nav">
  <!-- INNER-->
  <div class="navbar-inner">
    <div class="container">
      <!-- Collapse button -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- LOGO -->
        <a class="brand" href="index.html">
        <span><span class="yellow">Happi</span>Labs<span style="color:#898989">.org</span></span></a>
        <!-- TOP NAVIGATION-->
        <div id="main-nav" class="scroller-spy">
          <nav class="nav-collapse collapse" >
            <ul class="nav pull-right" id="nav">
              <li class="active"><a href="#header-section">Home</a> </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Edit account', edit_user_registration_path %>
                </li>
              <% if current_user.has_role? :admin %>
                <li>
                  <%= link_to 'Admin', users_path %>
                </li>
                  <% end %>
                  <li></li>
              <% end %>
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
                </li>
                <% else %>
                <li>
                  <%= link_to 'Login', new_user_session_path %>
                </li>
              <% end %>
              <li><a href="#aboutus-section">About Us</a> </li>
              <li><a href="#price-section">Pricing</a> </li>
              <li><a href="#team-section">Our Team</a> </li>
              <li><a href="#contact-section">Contact</a> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>



